body {
    width: 500px;
    font-style: Arial;
    font-size: 12px;
    border: 1px lightgrey solid;
    margin-bottom: 10px;
}

button {
    background-color: steelblue;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    display: block;
    float: left;
}

RoomLine {
    background-color: lightgrey;
    margin-top: 5px;
    margin-bottom: 5px;
}

TotalLine {
    background-color: blue;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    color: rgb(4, 45, 99);
}